<ion-content>
  <div class="content-container">
    <div class="task-list">
      <div class="task-list__header">
        <img
          *ngIf="enableLogo"
          src="../../../assets/images/rocket.svg"
          alt="Logo"
          class="task-list__header-logo"
        />
        <h1 class="task-list__header-title">{{ texts[HomeConfig.headerTitle] }}</h1>
      </div>

      <!-- Filtro de tarefas por categoria -->
      <div class="task-filter">
        <ion-select
          [(ngModel)]="selectedCategory"
          placeholder="{{ texts[HomeConfig.filterByCategory] }}"
          (ionChange)="filterTasksByCategory($event.detail.value)"
        >
          <ion-select-option value="">{{ texts[HomeConfig.allCategories] }}</ion-select-option>
          <ion-select-option
            *ngFor="let category of categories"
            [value]="category.id"
          >
            {{ category.name }}
          </ion-select-option>
        </ion-select>
      </div>

      <!-- Inputs para adicionar o nome da tarefa, sua categoria e data de vencimento -->
      <div class="task-input">
        <ion-input
          [(ngModel)]="newTask"
          placeholder="{{ texts[HomeConfig.taskNamePlaceholder] }}"
          class="task-input__text"
        ></ion-input>
        <div class="task-input__container-category">
          <ion-select
            [(ngModel)]="taskCategory"
            placeholder="{{ texts[HomeConfig.assignCategoryPlaceholder] }}"
            class="task-input__category"
            (ionChange)="onCategoryChange($event)"
          >
            <ion-select-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </ion-select-option>
            <ion-select-option value="addNewCategory"
              >{{ texts[HomeConfig.addNewCategory] }}</ion-select-option
            >
            <ion-select-option value="manageCategory"
              >{{ texts[HomeConfig.manageCategories] }}</ion-select-option
            >
          </ion-select>
           <!-- Campo de entrada para a data de vencimento -->
      <div class="task-input">
        <ion-input
          [(ngModel)]="dueDate" 
          placeholder="DD/MM/AAAA" 
          class="task-input__due-date"
          type="text" 
        ></ion-input>
      </div>

          <ion-button
            (click)="addTask()"
            shape="round"
            expand="full"
            fill="solid"
            class="btnCreate"
          >
          {{ texts[HomeConfig.addTaskButton] }} <ion-icon name="add-circle"></ion-icon>
          </ion-button>
        </div>
      </div>
      <hr class="task-divider" />

     

      <!-- Lista de tarefas com Virtual Scrolling -->
      <ion-list lines="none" class="cardsList">
        <cdk-virtual-scroll-viewport itemSize="48" class="task-viewport">
          <ion-item *cdkVirtualFor="let task of filteredTasks; let i = index">
            <ion-checkbox
              slot="start"
              [(ngModel)]="task.completed"
              (ngModelChange)="toggleTask(task)"
            ></ion-checkbox>
            <ion-label [class.completed]="task.completed"
              >{{ task.title }}
              <span *ngIf="task.dueDate" class="due-date"> - {{ task.dueDate }}</span> <!-- Exibir a data como texto -->
              </ion-label
            >
            <ion-badge
              *ngIf="task.categoryId"
              class="task-badge"
              color="primary"
              >{{ getCategoryName(task.categoryId) }}</ion-badge
            >
            <ion-button slot="end" fill="clear" (click)="deleteTask(task.id)">
              <ion-icon name="trash-outline" class="trash-icon"></ion-icon>
            </ion-button>
          </ion-item>
        </cdk-virtual-scroll-viewport>
      </ion-list>

      <div class="task-stats">
        <p>
          {{ completedTasks }} {{ texts[HomeConfig.unionCounterTask] }} {{ filteredTasks.length }} {{ texts[HomeConfig.textCounterTasks] }}
        </p>
        <ion-button fill="clear" (click)="clearCompleted()"
          >{{ texts[HomeConfig.clearCompletedTasks] }}</ion-button
        >
 </div>
    </div>
  </div>
</ion-content>